[Desktop Entry]
Type=Application
Name={{name}}
Comment={{comment}}
Exec={{exec}} {{exec_arg}}
Icon={{icon}}
Terminal=false
Categories={{categories}}
StartupNotify=true
StartupWMClass=com.dirijor.diri
